body {
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
}
.thead{
  background-color: #ffa400;
  color:#fff;

}
.alert-error {
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
    background-color: rgba(234, 51, 69, 0.41);
    border: 1px solid  #dc3545;
    color: #fff;
    padding: 0.7rem 1.25rem;
    border-radius: 0.5rem;
    animation: fadeIn 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  